<footer>
    <div class="container-footer">
        <div class="left">
            <a href="#">© 2024 Room Rent Inc.</a>
            <a href="#"> Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company</a>
            <a href="#">details</a>
        </div>
        <div class="right">
            <a href="">English</a>
            <a href="">Price : &#8377 INR</a>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>