<% layout(("/layouts/boilerplate.ejs")) %>
<h3 class="new-head">Create New Listing</h3>
<div class="new">
  <form method="post" action="/listings" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
    <div class="col-md-6 position-relative">
      <label for="validationTooltip01">Title</label>
      <input name="listing[title]" class="form-control" placeholder="enter Title" type="text" id="validationTooltip01" required>
      <div class="invalid-tooltip">
        Title Required
      </div>
    </div>
    <div class="col-md-3 position-relative  mt-2">
      <label for="validationTooltip02" class="form-label">Price</label>
      <input id="validationTooltip02" name="listing[price]" class="form-control" placeholder="enter price" type="text" required>
      <div class="invalid-tooltip">
        Price Required
      </div>
    </div>
    <div class="col-md-6 position-relative">
      <label for="validationTooltip03" class="form-label">Location</label>
      <input type="text" name="listing[location]" class="form-control" placeholder="enter Location" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Please provide a valid Location.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Country</label>
      <input type="text" name="listing[country]" class="form-control" placeholder="enter Country" id="validationTooltip04" required>
      <div class="invalid-tooltip">
        Please select a valid Country.
      </div>
    </div>
    <div class="col-md-9 position-relative">
      <label for="validationTooltip05" class="form-label">Upload Image</label>
      <input type="file" name="listing[image]" class="form-control" placeholder="Enter Image URL/" required>
    </div>
    <div class="col-md-9 position-relative" style="margin-top: 3.5vh;">
      <select class="form-select select" name="listing[category]">
        <option>Mountain</option>
        <option>Castel</option>
        <option>Pools</option>
        <option>Camping</option>
        <option>Farming</option>
        <option>Rooms</option>
      </select>
    </div>
    <div class="col-md-9 position-relative">
      <label for="validationTextarea" class="form-label">Description</label>
      <textarea class="form-control" name="listing[description]" id="validationTextarea" placeholder="Enter Description" required></textarea>
      <div class="invalid-feedback">
        Please provide a valid Description.
      </div>
    </div>
    <div class="col-13">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
