<% layout("layouts/boilerplate.ejs") %>
<div class="profile">
    <h1 style="text-align: center;">Profile</h1>
    <h3><u>Name</u> : <%= user.username %></h3>
    <h3><u>Email</u> : <%= user.email %></h3>
</div>