.container-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 5vh;
}
#card{
    height: 25vh;
    width: 25vw;
    margin: 3vh 0  17vh 2vw;
}
#card:hover{
    opacity: .6;
    background-color: white;
}
.container-images a{
    color: black;
    text-decoration: none;
}
.card-img{
    height: 35vh;
    width: 25%;
    object-fit: cover;
    border: 1px solid white;
}

.create-new{
    color: white;
    background-color: red;
    border: 1px solid white;
    margin: 3vh 0 5vh 35vw;
    padding: 1vh 1vw;
    border-radius: 10px;
}
.create-new:hover{
    color: red;
    background-color: cyan;
    
}