<% layout(("/layouts/boilerplate.ejs")) %>
<h3 class="heading-reg">Login</h3>
<div class="cont-log">
    <form action="/login" method="post" class="g-3 needs-validation register" novalidate>
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" placeholder="Enter Username" class="form-control" required>
      <div class="invalid-feedback">
          Please Enter Username
        </div>
        <label for="password" class="form-label">Password</label>
      <input type="password" name="password" placeholder="Enter Password" class="form-control" required>
      <div class="invalid-feedback">
          Please Enter Password
        </div>
        <div class="btn-user">
          <button class="btn btn-outline-success register-btn" type="submit">Submit</button>
          <a style="margin-left: 3vw;" href="http://localhost:3000/signup">Signup</a>
        </div>
  </form>
</div>